@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lilita+One&family=Nunito:wght@800&display=swap');

@include mat.core();

$knowle-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    plain-family: 'Nunito, sans-serif',
    brand-family: 'Nunito, sans-serif',
    bold-weight: 700,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($knowle-theme);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  background: #f4f8f5;
}

* {
  box-sizing: border-box;
}

.curved-title {
  width: 100%;
  overflow: visible;
}

.curved-title text {
  font-family: "Lilita One", sans-serif;
  font-size: 82px;
  fill: white;
}