<div class="game-footer">
  <div class="game-footer__character">
    <app-torti
      [centered]="true"
      [fitToContainer]="true"
      [initialPose]="characterPose"
      [speechText]="characterSpeech"
      [showBubble]="!!characterSpeech"
    />
  </div>

  @switch (mode) {
    @case ('waiting') {
      <app-check-button [disabled]="disabled" (check)="check.emit()">
        {{ checkText }}
      </app-check-button>
    }
    @case ('checking') {
      <p class="feedback neutral">{{ checkingText }}</p>
    }
    @case ('correct') {
      @if (sessionComplete) {
        <app-chapter-button (chapter)="chapter.emit()">{{ chapterText }}</app-chapter-button>
      } @else {
        <app-continue-button (continue)="continue.emit()">{{ continueText }}</app-continue-button>
      }
    }
    @case ('incorrect') {
      <div class="incorrect-footer">
        <g-button
          labelKey="retry"
          [colors]="['#e48459', '#bb6640', '#bb6640']"
          (clicked)="retry.emit()"
        >
        </g-button>
        <g-button
          labelKey="continue"
          [colors]="['#9aa0a6', '#757b82', '#757b82']"
          (clicked)="continue.emit()"
        >
        </g-button>
      </div>
    }
    @case ('classify') {
      <app-check-button [disabled]="disabled" (check)="check.emit()">
        {{ checkText }}
      </app-check-button>
    }
    @case ('matching') {
      <app-check-button [disabled]="disabled" (check)="check.emit()">
        {{ checkText }}
      </app-check-button>
    }
    @case ('ordering') {
      <app-check-button [disabled]="disabled" (check)="check.emit()">
        {{ checkText }}
      </app-check-button>
    }
  }
</div>
