<div class="game-footer">
  <div class="game-footer__character">
    <app-torti
      [centered]="true"
      [fitToContainer]="true"
      [initialPose]="characterPose"
      [speechText]="characterSpeech"
      [showBubble]="false"
      [showMuteButton]="false"
      [showCoinButton]="true"
      [showHealthDisplay]="true"
    />
  </div>

  <!-- <div class="character-coin-health-group">
    <app-health-display
      class="header-btn stat-btn battery-btn"
      [value]="health"
    ></app-health-display>

    <app-coin-display class="header-btn stat-btn coin-btn" [amount]="coins"></app-coin-display>
  </div> -->

  <div class="game-footer__actions">
    <div class="game-footer__helpers">
      @if (mode === 'incorrect' && activity?.type !== 'MATCHING' && activity?.type !== 'CLASSIFY') {
        <g-button
          labelKey="retry"
          colorsStyleClass="duo-button duo-button--grey duo-button--medium duo-button--smalltext"
          (clicked)="retry.emit()"
        >
        </g-button>
      }
      @if (
        activity?.type !== 'MATCHING' &&
        activity?.type !== 'CLASSIFY' &&
        activity?.type !== 'TRUE_FALSE' &&
        activity?.type !== 'PUZZLE'
      ) {
        <g-button
          labelKey="fifty"
          colorsStyleClass="duo-button duo-button--grey duo-button--medium duo-button--smalltext"
          (clicked)="fifty.emit()"
        >
        </g-button>
      }
      @if (hasHint) {
        <g-button
          labelKey="hint"
          colorsStyleClass="duo-button duo-button--grey duo-button--medium duo-button--smalltext"
          (clicked)="hintClicked()"
        >
        </g-button>
      }
    </div>

    @switch (mode) {
      @case ('waiting') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--bleo duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('checking') {
        <p class="feedback neutral">{{ checkingText }}</p>
      }
      @case ('correct') {
        @if (sessionComplete) {
          <app-chapter-button (chapter)="chapter.emit()">{{ chapterText }}</app-chapter-button>
        } @else {
          <g-button
            class="check-button"
            labelKey=""
            [disabled]="disabled"
            colorsStyleClass="duo-button duo-button--bleo duo-button--medium"
            (clicked)="continue.emit()"
          >
            {{ continueText }}
          </g-button>
        }
      }
      @case ('incorrect') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--bleo duo-button--medium"
          (clicked)="continue.emit()"
        >
          {{ continueText }}
        </g-button>
      }
      @case ('classify') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('matching') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('ordering') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
    }
  </div>
</div>
