<div class="game-footer">
  <div class="game-footer__character">
    <app-torti
      [centered]="true"
      [fitToContainer]="true"
      [initialPose]="characterPose"
      [speechText]="characterSpeech"
      [showBubble]="false"
      [showMuteButton]="false"
    />
  </div>

  <div class="game-footer__actions">
    <div class="game-footer__stats_and_helpers">
      <div class="character-coin-health-group">
        <app-health-display
          class="header-btn stat-btn battery-btn"
          [value]="health"
        ></app-health-display>

        <app-coin-display class="header-btn stat-btn coin-btn" [amount]="coins"></app-coin-display>
      </div>
      <div class="game-footer__helpers">
        <g-button
          labelKey="retry"
          colorsStyleClass="duo-button duo-button--grey duo-button--medium duo-button--smalltext"
          (clicked)="retry.emit()"
        >
        </g-button>

        <g-button
          labelKey="fifty"
          colorsStyleClass="duo-button duo-button--pastel duo-button--medium duo-button--smalltext"
          (clicked)="fifty.emit()"
        >
        </g-button>

        <g-button
          labelKey="hint"
          colorsStyleClass="duo-button duo-button--lavander duo-button--medium duo-button--smalltext"
          (clicked)="hint.emit()"
        >
        </g-button>
      </div>
    </div>

    @switch (mode) {
      @case ('waiting') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--bleo duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('checking') {
        <p class="feedback neutral">{{ checkingText }}</p>
      }
      @case ('correct') {
        @if (sessionComplete) {
          <app-chapter-button (chapter)="chapter.emit()">{{ chapterText }}</app-chapter-button>
        } @else {
          <g-button
            class="check-button"
            labelKey=""
            [disabled]="disabled"
            colorsStyleClass="duo-button duo-button--bleo duo-button--medium"
            (clicked)="continue.emit()"
          >
            {{ continueText }}
          </g-button>
        }
      }
      @case ('incorrect') {
        <div class="incorrect-footer">
          <g-button
            labelKey="continue"
            [colors]="['#9aa0a6', '#757b82', '#757b82']"
            (clicked)="continue.emit()"
          >
          </g-button>
        </div>
      }
      @case ('classify') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('matching') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
      @case ('ordering') {
        <g-button
          class="check-button"
          labelKey=""
          [disabled]="disabled"
          colorsStyleClass="duo-button duo-button--green duo-button--medium"
          (clicked)="check.emit()"
        >
          {{ checkText }}
        </g-button>
      }
    }
  </div>
</div>
