:host {
  height: 130px;

  .game-footer {
    position: fixed;
    height: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 5px;
    z-index: 10;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 0 10px 2px;
    padding-left: 0;

    .game-footer__character {
      height: 120px;
    }

    .game-footer__actions {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 10px;

      .game-footer__stats_and_helpers {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 10px;
      }
      .game-footer__helpers {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        g-button {
          flex: 0 0 calc((100% - 10px) / 3);
        }
      }
    }
  }

  .feedback {
    margin: 0;
  }

  .neutral {
    color: rgba(255, 255, 255, 0.78);
    font-weight: 700;
  }

  .character-coin-health-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    align-self: start;
    gap: 4px;

    justify-content: start;
    justify-self: self-end;
    margin-right: 10px;
  }

  .helper-button {
    height: 20px;
  }
}
